/* ============================================================================================
                                GERAL   
   ============================================================================================                            
*/
html {
  font-size: calc(15px + 0.390625vw);
}

body {
  color: #21243d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #21243d;
}

p {
  line-height: 130%;
}

section h2 {
  text-align: center;
  margin: 5px;
}

img {
  max-width: 100%;
}

/* ============================================================================================
                                FOOTER E HEADER   
   ============================================================================================                            
*/

header ul li {
  text-align: center;
  padding: 10px 0 10px 0;
}

footer {
  text-align: center;
}

footer a {
  font-size: 2.3rem;
  margin: 20px 15px;
}

footer p {
  margin: 15px 0 15px;
}
/* ============================================================================================
                                ESPECÍFICO   
   ============================================================================================                            
*/
section.banner {
  text-align: center;
  padding: 0 5% 0 5%;
}

section.banner h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 10px 0 10px 0;
}

section.banner p button {
  background: #ff6464;
  border: none;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0 50px;
  padding: 5px 10px 5px 10px;
  font-size: 1.5rem;
}

section.posts {
  background: #edf7fa;
  padding: 10px;
}

section.posts ul li {
  background: white;
  padding: 15px;
  margin: 12px 0px 12px 0px;
}

section.posts ul li h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 15px;
}

section.posts ul li p {
  font-size: 1rem;
  margin: 15px 0px 15px 0px;
}

section.works {
  padding: 20px 10px 20px 10px;
}

section.works ul li {
  margin: 10px 0px 10px 0px;
}

section.works ul li h3 {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 130%;
}

section.works ul li p.info {
  color: #8695a4;
}

section.works ul li p {
  margin: 10px 0;
}

section.works ul li p.info span {
  color: white;
  background: #142850;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 16px;
}

section.works ul {
  border-bottom: 1px solid #e0e0e0;
}

/* ============================================================================================
                                PAGINA FT-WORKS   
   ============================================================================================                            
*/
section.dashb {
  padding: 20px 10px 20px 10px;
}
section.dashb h2 {
  font-size: 2rem;
  text-align: left;
  margin: 20px 0 40px;
}
section.dashb ul li {
  margin: 20px 0 20px 0;
}
section.dashb ul li h3 {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 130%;
  margin: 0 0 15px 0;
}

section.dashb ul li p {
  margin: 15px 0;
  color: black;
}

section.dashb ul li p.info {
  color: #21243d;
}

section.dashb ul li p.info span {
  background: #ff7c7c;
  color: white;
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: bold;
}
